ion-card {
  margin: 5px;
}

ion-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.video-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: var(--ion-color-light);
}
